#menubar {
	height: 105px;
	background-color: #b300b3;
}

#logo {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: #660066;
	position: absolute;
	top: 60px;
	left: 60px;
}

#logoimg {
	width: 70px;
	border-radius: 50%;
	margin: 15px;
}

#article {
	background-color: #b3e6ff;
	width: 45%;
	margin: 0px auto;
	margin-top: 150px;
	margin-bottom: 150px;
	padding: 50px 40px 50px 40px;
	border-radius: 10% 0% 10% 0%;
}

#articleimg {
	width: 100%;
	height: 150px;
}

#title {
	padding-top: 30px;
	font-size: 25px;
}

#p1 {
	padding-top: 30px;
}

#p2 {
	padding-top: 30px;
}

#p3 {
	padding-top: 30px;
}

#p4 {
	padding-top: 30px;
}

#p5 {
	padding-top: 30px;
}

#footer {
	height: 105px;
	background-color: #b300b3;
}




